<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoreLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoreLib.Properties.Settings>
            <setting name="InputBoxWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputBoxWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputBoxWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputBoxWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputBox2Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputBox2Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputBox2Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputBox2Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MenuDialgTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MenuDialgLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MenuDialgWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MenuDialgHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DiffFolderWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DiffFolderWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DiffFolderWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DiffFolderWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChkListWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChkListWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChkListWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChkListWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </CoreLib.Properties.Settings>
    </userSettings>
</configuration>